<link rel="stylesheet" href="/css/product.css" />
<% if (isAuthenticated) { %>
<form action="/cart" method="POST">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <button class="shop-item-button" type="submit">Add to Cart</button>
  <input type="hidden" name="productId" value="<%= product._id%>" />
</form>
<% } %>
