	.form-control {
		font-size: larger;
		color: black;
		margin: 1rem 0;
	}

	.form-control label,
	.form-control input,
	.form-control textarea {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	.form-control input,
	.form-control textarea {
		border: 1px solid darkgray;
		color: black;		font: inherit;
		background: whitesmoke;
		border-radius: 2px;
		line-height: 2rem;
	}

	.form-control input:focus,
	.form-control textarea:focus {
		background-color: white;		opacity: 100%;
		color: black;
	}
