	.form-control {
		font-size: large;
		color: black;
	}

	.form-control label,
	.form-control input,
	.form-control textarea {
		display: block;
		width: 100%;
		/* margin-bottom: 0.5rem; */
	}

	.form-control label {
		color: rgb(44, 43, 43);
	}

	.form-control input,
	.form-control textarea {
		border: 1px solid darkgray;
		color: black;
		font: caption;
		background: whitesmoke;
		border-radius: 2px;
		line-height: 2rem;
		margin-top: 1rem;
	}

	.form-control input:focus,
	.form-control textarea:focus {
		background-color: white;
		opacity: 100%;
		color: black;
	}

	.form-control input.invalid,
	.form-control textarea.invalid {
		border-color: red;
	}