.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
}
.form-control input {
  border: 1px solid #2e0897;
  font: inherit;
  border-radius: 2px;
  width: 100%;
}
button {
  font: inherit;
  margin: 1rem 0;
  border: 1px solid #2e0897;
  background-color: white;
  border-radius: 3px;
  color: #2e0897;
  cursor: pointer;
}
.product-form {
  width: 30rem;
  max-width: 100%;
  margin: auto;
}
.form-control input:focus {
  outline-color: #00695c;
}
