.product-form {
		width: 30rem;
		max-width: 100%;
		margin: auto;
		margin-top: 3rem;
		border: 1px solid rgb(167, 167, 167);
		padding: 1.25rem;
		display: block;
}

.shop-item {

	flex-wrap: wrap;
	/* box-shadow: 0 2px 6px rgb(5, 5, 5); */
	padding: 5px;
	margin: 20px;
	width: 30rem;
	border: 1px solid lightgray;
	justify-content: space-around;
}

.shop-item:hover{
	transition: .3s ease-in-out;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2),
	0 10px 30px 0 rgba(0, 0, 0, 0.19);
}


.product__title {
	font-size: 1.2rem;
	text-align: center;
}

.product__price {
	text-align: center;
	color: #3d3d3d;
	margin-bottom: 0.5rem;
}

.product__description {
	text-align: center;
}

.shop-item-image {
	height: 250px;
	/* max-wi	dth: 28rem; */
	display: flex;
}

.shop-item-image img {
	max-width: 95%;
	max-height: 100%;
	margin: auto;
}

.shop-item-details {
	display: flex;
	align-items: center;
	padding: 5px;
}

.shop-item-price {
	flex-grow: 2;
	color: black;
}

.shop-item-title {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: black;
	margin-bottom: 15px;
}

.shop-item-button {
	display: inline-block;
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid midnightblue;
	background-color: transparent;
	color: midnightblue;
	margin: 2px;
}

.shop-item-button:hover,
.shop-item-button:active {
	background-color: midnightblue;
	color: aliceblue;
}